<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>TimeSync</title>
</head>
<body>
	<center id = "header">TimeSync</center>
	<div id="login">
		<p><em>If you are using google calendar, find out the best time for you with one click! </em></p>
		<br>
		<form action = "/login" method = "post">
			<input type="submit" value="Login Google Calendar"/>
		</form>
	</div>

	<div id="manual">
		<P><em>If you don't use google calender, it doesn't matter!<br> Click on the time that is available for you.</em></p>
			<table>
				<tr>
					<td >
						<script type="text/javascript">
						var date = new Date();
						document.write( (date.getMonth()+1)  + "." + date.getDate());
						</script>
					</td>
					<td >
						<script type="text/javascript">
						var date = new Date();
						date.setDate(date.getDate() + 1);
						document.write( (date.getMonth()+1)  + "." + date.getDate());
						</script>
					</td>
					<td >
						<script type="text/javascript">
						var date = new Date();
						date.setDate(date.getDate() + 2);
						document.write( (date.getMonth()+1)  + "." + date.getDate());
						</script>
					</td>
					<td >
						<script type="text/javascript">
						var date = new Date();
						date.setDate(date.getDate() + 3);
						document.write( (date.getMonth()+1)  + "." + date.getDate());
						</script>
					</td>
					<td >
						<script type="text/javascript">
						var date = new Date();
						date.setDate(date.getDate() + 4);
						document.write( (date.getMonth()+1)  + "." + date.getDate());
						</script>
					</td>
					<td >
						<script type="text/javascript">
						var date = new Date();
						date.setDate(date.getDate() + 5);
						document.write( (date.getMonth()+1)  + "." + date.getDate());
						</script>
					</td>
					<td >
						<script type="text/javascript">
						var date = new Date();
						date.setDate(date.getDate() + 6);
						document.write( (date.getMonth()+1)  + "." + date.getDate());
						</script>
					</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "107">7am</td>
					<td onClick="md(this.id)"; id = "207">7am</td>
					<td onClick="md(this.id)"; id = "307">7am</td>
					<td onClick="md(this.id)"; id = "407">7am</td>
					<td onClick="md(this.id)"; id = "507">7am</td>
					<td onClick="md(this.id)"; id = "607">7am</td>
					<td onClick="md(this.id)"; id = "707">7am</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "108">8am</td>
					<td onClick="md(this.id)"; id = "208">8am</td>
					<td onClick="md(this.id)"; id = "308">8am</td>
					<td onClick="md(this.id)"; id = "408">8am</td>
					<td onClick="md(this.id)"; id = "508">8am</td>
					<td onClick="md(this.id)"; id = "608">8am</td>
					<td onClick="md(this.id)"; id = "708">8am</td>

				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "109">9am</td>
					<td onClick="md(this.id)"; id = "209">9am</td>
					<td onClick="md(this.id)"; id = "309">9am</td>
					<td onClick="md(this.id)"; id = "409">9am</td>
					<td onClick="md(this.id)"; id = "509">9am</td>
					<td onClick="md(this.id)"; id = "609">9am</td>
					<td onClick="md(this.id)"; id = "709">9am</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "110">10am</td>
					<td onClick="md(this.id)"; id = "210">10am</td>
					<td onClick="md(this.id)"; id = "310">10am</td>
					<td onClick="md(this.id)"; id = "410">10am</td>
					<td onClick="md(this.id)"; id = "510">10am</td>
					<td onClick="md(this.id)"; id = "610">10am</td>
					<td onClick="md(this.id)"; id = "710">10am</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "111">11am</td>
					<td onClick="md(this.id)"; id = "211">11am</td>
					<td onClick="md(this.id)"; id = "311">11am</td>
					<td onClick="md(this.id)"; id = "411">11am</td>
					<td onClick="md(this.id)"; id = "511">11am</td>
					<td onClick="md(this.id)"; id = "611">11am</td>
					<td onClick="md(this.id)"; id = "711">11am</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "112">12am</td>
					<td onClick="md(this.id)"; id = "212">12am</td>
					<td onClick="md(this.id)"; id = "312">12am</td>
					<td onClick="md(this.id)"; id = "412">12am</td>
					<td onClick="md(this.id)"; id = "512">12am</td>
					<td onClick="md(this.id)"; id = "612">12am</td>
					<td onClick="md(this.id)"; id = "712">12am</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "113">1pm</td>
					<td onClick="md(this.id)"; id = "213">1pm</td>
					<td onClick="md(this.id)"; id = "313">1pm</td>
					<td onClick="md(this.id)"; id = "413">1pm</td>
					<td onClick="md(this.id)"; id = "513">1pm</td>
					<td onClick="md(this.id)"; id = "613">1pm</td>
					<td onClick="md(this.id)"; id = "713">1pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "114">2pm</td>
					<td onClick="md(this.id)"; id = "214">2pm</td>
					<td onClick="md(this.id)"; id = "314">2pm</td>
					<td onClick="md(this.id)"; id = "414">2pm</td>
					<td onClick="md(this.id)"; id = "514">2pm</td>
					<td onClick="md(this.id)"; id = "614">2pm</td>
					<td onClick="md(this.id)"; id = "714">2pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "115">3pm</td>
					<td onClick="md(this.id)"; id = "215">3pm</td>
					<td onClick="md(this.id)"; id = "315">3pm</td>
					<td onClick="md(this.id)"; id = "415">3pm</td>
					<td onClick="md(this.id)"; id = "515">3pm</td>
					<td onClick="md(this.id)"; id = "615">3pm</td>
					<td onClick="md(this.id)"; id = "715">3pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "116">4pm</td>
					<td onClick="md(this.id)"; id = "216">4pm</td>
					<td onClick="md(this.id)"; id = "316">4pm</td>
					<td onClick="md(this.id)"; id = "416">4pm</td>
					<td onClick="md(this.id)"; id = "516">4pm</td>
					<td onClick="md(this.id)"; id = "616">4pm</td>
					<td onClick="md(this.id)"; id = "716">4pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "117">5pm</td>
					<td onClick="md(this.id)"; id = "217">5pm</td>
					<td onClick="md(this.id)"; id = "317">5pm</td>
					<td onClick="md(this.id)"; id = "417">5pm</td>
					<td onClick="md(this.id)"; id = "517">5pm</td>
					<td onClick="md(this.id)"; id = "617">5pm</td>
					<td onClick="md(this.id)"; id = "717">5pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "118">6pm</td>
					<td onClick="md(this.id)"; id = "218">6pm</td>
					<td onClick="md(this.id)"; id = "318">6pm</td>
					<td onClick="md(this.id)"; id = "418">6pm</td>
					<td onClick="md(this.id)"; id = "518">6pm</td>
					<td onClick="md(this.id)"; id = "618">6pm</td>
					<td onClick="md(this.id)"; id = "718">6pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "119">7pm</td>
					<td onClick="md(this.id)"; id = "219">7pm</td>
					<td onClick="md(this.id)"; id = "319">7pm</td>
					<td onClick="md(this.id)"; id = "419">7pm</td>
					<td onClick="md(this.id)"; id = "519">7pm</td>
					<td onClick="md(this.id)"; id = "619">7pm</td>
					<td onClick="md(this.id)"; id = "719">7pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "120">8pm</td>
					<td onClick="md(this.id)"; id = "220">8pm</td>
					<td onClick="md(this.id)"; id = "320">8pm</td>
					<td onClick="md(this.id)"; id = "420">8pm</td>
					<td onClick="md(this.id)"; id = "520">8pm</td>
					<td onClick="md(this.id)"; id = "620">8pm</td>
					<td onClick="md(this.id)"; id = "720">8pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "121">9pm</td>
					<td onClick="md(this.id)"; id = "221">9pm</td>
					<td onClick="md(this.id)"; id = "321">9pm</td>
					<td onClick="md(this.id)"; id = "421">9pm</td>
					<td onClick="md(this.id)"; id = "521">9pm</td>
					<td onClick="md(this.id)"; id = "621">9pm</td>
					<td onClick="md(this.id)"; id = "721">9pm</td>
				</tr>
				<tr>
					<td onClick="md(this.id)"; id = "122">10pm</td>
					<td onClick="md(this.id)"; id = "222">10pm</td>
					<td onClick="md(this.id)"; id = "322">10pm</td>
					<td onClick="md(this.id)"; id = "422">10pm</td>
					<td onClick="md(this.id)"; id = "522">10pm</td>
					<td onClick="md(this.id)"; id = "622">10pm</td>
					<td onClick="md(this.id)"; id = "722">10pm</td>
				</tr>
			</table>

		</div>

		<div id="submit">
			<form>
				Event name: <input type="text" size="30" id ="email" onFocus="this.style.backgroundColor ='yellow';"
				onBlue="this.style.backgroundColor='white'">
				<br>
				<br>
				<input type="button" value="submit" id = "submitButton">
			</form>	
		</div>
	</body>

	<script>
	function md(idPassed){
		//alert("clicked!");
		if(document.getElementById(idPassed).className.indexOf("selected")>-1)
			document.getElementById(idPassed).className -= "selected";
		else
			document.getElementById(idPassed).className += "selected";
	}

	</script>
	<style>
	body {
		font:#8e44ad;
		background-image: linear-gradient(180deg, #3498db,#2980b9,#27ae60);
		color: #2c3e50;
	}

	h1{
		font:bold;
		color:#2c3e50;
	}
	#header{
		font-size: 8em;
		text-shadow: 4px 4px #2c3e50;
	}
	#login{
		float:left;
		width: 30%;
		margin: 0 5%;
		padding: 0.5% 0.5%;
		border-style: solid;
		border-width: 3px;
		border-radius: 25px;
	}
	#manual{
		float:right;
		width:30%;
		margin: 0 5%;
		padding: 0.5% 0.5%;
		border-style: solid;
		border-width: 3px;
		border-radius: 25px;
	}
	#submit{
		clear:left;
		position: absolute; 
		bottom: 1em;
		left: 40%;
	}
	#submitButton{
		clear:left;
		position: absolute; 
		left: 40%;
	}
	.selected{
		background: #27ae60;
	}
	</style>
	</html>